<form [formGroup]="form">
  <div class="form-wrapper">
    <div class="form-row">
      Name: <input type="text" formControlName="name">
    </div>
    <div class="form-row">
      <app-rating formControlName="rating"></app-rating>
    </div>
    <div class="form-row">
      <button type="button" [disabled]="!form.valid">Send</button>
    </div>
    <div class="form-row">
      <button type="button" (click)="form.reset()">Reset</button>
    </div>
  </div>
</form>
<br>
<mat-divider></mat-divider>
<br>
<div>
  Form validity: {{form.valid}}
</div>
<div>
  Form Value:
  <pre>{{form.value | json}}</pre>
</div>
